doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/yelp.css')
        script(src='/javascript/jquery-1.11.3.min.js')
        script(src='/javascript/yelp.js')
    body
        block content